<div class="layout-topbar">
    <div class="topbar-start">
        <button type="button" class="topbar-menubutton p-link p-trigger" (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>

        <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
    </div>

    <div class="topbar-end">
        <ul class="topbar-menu pointer" (click)="onProfileButtonClick()">
            <li>
                <button pButton type="button" 
                    class="p-button-rounded p-button-secondary p-button-text"
                    [label]="user.name + ' ' + user.surname" 
                    icon="pi pi-user" iconPos="right"
                >
                </button>
            </li>
        </ul>
    </div>
</div>