<p-card>
    <ng-template pTemplate="header">
        <div class="inline-flex items-center justify-center gap-2">
            <p-inputicon>
                <i class="pi pi-exclamation-triangle"></i>
            </p-inputicon>
            <h3>Errore</h3>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        {{error | json}}
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2">
            <p-button label="OK" (click)="closeDialog()" [severity]="'primary'" [icon]="'pi pi-check'"></p-button>
        </div>
    </ng-template>
</p-card>
