<div class="p-4">
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex items-center flex-wrap header-title">
                <h2 class="text-xl font-semibold text-gray-800">{{modello.id ? 'Modifica' : 'Nuovo'}} Modello</h2>
                <div class="flex items-center gap-2 margin-left-auto">
                    @if (loading) {
                        <p-button 
                            icon="pi pi-spinner pi-spin"
                            label="Indietro"
                            [disabled]="true"
                            [severity]="'secondary'"
                        />
                        <p-button 
                            icon="pi pi-spinner pi-spin"
                            label="Salva"
                            [disabled]="true"
                            [severity]="'primary'"
                        />
                    }
                    @else {
                        <p-button 
                            icon="pi pi-arrow-left"
                            label="Indietro"
                            (click)="indietro()"
                            [severity]="'secondary'"
                        />
                        <p-button 
                            icon="pi pi-save"
                            label="Salva"
                            (click)="saveStampante()"
                            [severity]="'primary'"
                        />
                    }
                    
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="grid grid-cols-1 gap-4">
                <div class="flex flex-col flex-row w-full">
                    <form-input-text 
                        [label]="'Nome'"
                        [property]="'nome'"
                        [obligatory]="true"
                        [infoMessage]="'Indica il nome del modello'"
                        [maxlength]="255"
                        [listaErrori]="listaErrori"
                        [(ngModel)]="modello.nome"/>
                </div>
                <div class="flex flex-col flex-row w-full">
                    <form-input-textarea 
                        [label]="'Descrizione'"
                        [property]="'descrizione'"
                        [infoMessage]="'Descrizione del modello'"
                        [maxlength]="500"
                        [listaErrori]="listaErrori"
                        [(ngModel)]="modello.descrizione"/>
                </div>
            </div>
        </ng-template>
    </p-card>
</div>
