<div class="p-4">
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex items-center flex-wrap header-title">
                <h2 class="text-xl font-semibold text-gray-800">{{modello.id ? 'Modifica' : 'Nuovo'}} Modello</h2>
                <div class="flex items-center gap-2 margin-left-auto">
                    @if (loading) {
                        <p-button 
                            icon="pi pi-spinner pi-spin"
                            label="Indietro"
                            [disabled]="true"
                            [severity]="'secondary'"
                        />
                        <p-button 
                            icon="pi pi-spinner pi-spin"
                            label="Salva"
                            [disabled]="true"
                            [severity]="'primary'"
                        />
                    }
                    @else {
                        <p-button 
                            icon="pi pi-arrow-left"
                            label="Indietro"
                            (click)="indietro()"
                            [severity]="'secondary'"
                        />
                        <p-button 
                            icon="pi pi-save"
                            label="Salva"
                            (click)="saveStampante()"
                            [severity]="'primary'"
                        />
                    }
                    
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <form-input-radiobutton
                    [label]="'PLA'"
                    [property]="'tipo'"
                    [name]="'tipo'"
                    [infoMessage]="'Tipo di modello'"
                    [listaErrori]="listaErrori"
                    [radioButtonValue]="ModelloTipoEnum.PLA"
                    [(ngModel)]="modello.tipo" />
                <form-input-radiobutton
                    [label]="'Resina'"
                    [property]="'tipo'"
                    [name]="'tipo'"
                    [infoMessage]="'Tipo di modello'"
                    [listaErrori]="listaErrori"
                    [radioButtonValue]="ModelloTipoEnum.RESINA"
                    [(ngModel)]="modello.tipo" />
                <form-input-text 
                    [label]="'Nome'"
                    [property]="'nome'"
                    [obligatory]="true"
                    [infoMessage]="'Indica il nome del modello'"
                    [maxlength]="255"
                    [listaErrori]="listaErrori"
                    [(ngModel)]="modello.nome"/>
            </div>
            <div class="grid grid-cols-1 mt-4">
                <form-input-textarea 
                    [label]="'Descrizione'"
                    [property]="'descrizione'"
                    [infoMessage]="'Descrizione del modello'"
                    [maxlength]="500"
                    [listaErrori]="listaErrori"
                    [(ngModel)]="modello.descrizione"/>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                <form-input-select
                    modello-basetta-dimensione
                    [label]="'Dimensione basetta'"
                    [property]="'basetta_dimensione'"
                    [infoMessage]="'Dimensione della basetta'"
                    [listaErrori]="listaErrori"
                    [(ngModel)]="modello.basetta_dimensione"
                />
                 <form-input-number
                    [label]="'Quantità basette'"
                    [property]="'basetta_quantita'"
                    [infoMessage]="'Quantità della basetta'"
                    [step]="1"
                    [min]="1"
                    [listaErrori]="listaErrori"
                    [(ngModel)]="modello.basetta_quantita"/>
            </div>
        </ng-template>
    </p-card>
</div>
