<div class="p-4">
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex items-center flex-wrap header-title">
                <h2 class="text-xl font-semibold text-gray-800">{{vendita.id ? 'Modifica' : 'Nuova'}} Vendita</h2>
                <div class="flex items-center gap-2 margin-left-auto">
                    @if (loading) {
                        <p-button 
                            icon="pi pi-spinner pi-spin"
                            label="Indietro"
                            [disabled]="true"
                            [severity]="'secondary'"
                        />
                        <p-button 
                            icon="pi pi-spinner pi-spin"
                            label="Salva"
                            [disabled]="true"
                            [severity]="'primary'"
                        />
                    }
                    @else {
                        <p-button 
                            icon="pi pi-arrow-left"
                            label="Indietro"
                            (click)="indietro()"
                            [severity]="'secondary'"
                        />
                        <p-button 
                            icon="pi pi-save"
                            label="Salva"
                            (click)="saveVendita()"
                            [severity]="'primary'"
                        />
                    }
                    
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">
                        Dati Generali @if(listaErrori | showTabError: proprietaErrori[0]) {
                            <i class="ml-2 pi pi-exclamation-triangle message-error"></i>
                        }
                    </p-tab>
                    <p-tab value="1">
                        Dettagli @if(listaErrori | showTabError: proprietaErrori[1]) {
                            <i class="ml-2 pi pi-exclamation-triangle message-error"></i>
                        }
                    </p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <form-input-datetime
                                property="data_vendita"
                                label="Data Vendita"
                                [obligatory]="true"
                                [listaErrori]="listaErrori"
                                [(ngModel)]="vendita.data_vendita" />
                            <form-input-datetime
                                property="data_scadenza"
                                label="Data Scadenza"
                                [listaErrori]="listaErrori"
                                [(ngModel)]="vendita.data_scadenza" />
                        </div>
                        <div class="grid grid-cols-1 gap-4 mt-4">
                            <form-input-select
                                cliente-lookup
                                property="cliente_id"
                                label="Cliente"
                                [obligatory]="true"
                                [listaErrori]="listaErrori"
                                [showAdd]="true"
                                (add)="addCliente()"
                                [(ngModel)]="vendita.cliente_id" />
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                            <form-input-select
                                vendita-stato-spedizione-lookup
                                property="stato_spedizione"
                                label="Stato Spedizione"
                                [obligatory]="true"
                                [filter]="false"
                                [showClear]="false"
                                [listaErrori]="listaErrori"
                                [(ngModel)]="vendita.stato_spedizione">
                                <ng-template #selectedItem let-item>
                                  <vendita-stato class="w-full" [stato_spedizione]="vendita.stato_spedizione!" [isInSelect]="true" />
                                </ng-template>
                                <ng-template #item let-item>
                                  <vendita-stato class="w-full" [stato_spedizione]="item.id" [isInSelect]="true" />
                                </ng-template>
                            </form-input-select>
                            <form-input-text
                                property="link_tracciamento"
                                label="Link Tracciamento"
                                [listaErrori]="listaErrori"
                                [(ngModel)]="vendita.link_tracciamento" />
                        </div>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <p-table 
                            [value]="vendita.dettagli"
                            [paginator]="true" 
                            [rows]="10"
                            [totalRecords]="vendita.dettagli.length">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Modello</th>
                                    <th>Stampante</th>
                                    <th style="width: 200px;">Quantità</th>
                                    <th style="width: 200px;">Prezzo</th>
                                    <th style="width: 300px;">Stato Stampa</th>
                                    <th style="width: 100px;"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="caption">
                                <div class="flex items-center gap-2 margin-left-auto">
                                    <p-button 
                                        icon="pi pi-plus" 
                                        label="Aggiungi Dettaglio"
                                        severity="success" 
                                        (click)="addDettaglio()"
                                        pTooltip="Aggiungi nuovo dettaglio"
                                        tooltipPosition="top">
                                    </p-button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="body" let-dettaglio let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        <form-input-select
                                            modello-lookup
                                            property="modello_id"
                                            [listaErrori]="listaErrori"
                                            [parent]="'dettagli'"
                                            [index]="rowIndex"
                                            [showAdd]="true"
                                            (add)="addModello(rowIndex)"
                                            [(ngModel)]="dettaglio.modello_id" />
                                    </td>
                                    <td>
                                        <form-input-select
                                            stampante-lookup
                                            property="stampante_id"
                                            [listaErrori]="listaErrori"
                                            [parent]="'dettagli'"
                                            [index]="rowIndex"
                                            [showAdd]="true"
                                            (add)="addStampante(rowIndex)"
                                            [(ngModel)]="dettaglio.stampante_id" />
                                    </td>
                                    <td>
                                        <form-input-number
                                            property="quantita"
                                            [min]="0"
                                            [step]="0.01"
                                            [mode]="'decimal'"
                                            [minFractionDigits]="4"
                                            [maxFractionDigits]="4"
                                            [listaErrori]="listaErrori"
                                            [parent]="'dettagli'"
                                            [index]="rowIndex"
                                            [(ngModel)]="dettaglio.quantita" />
                                    </td>
                                    <td>
                                        <form-input-number
                                            property="prezzo"
                                            [min]="0"
                                            [step]="0.01"
                                            [mode]="'decimal'"
                                            [minFractionDigits]="5"
                                            [maxFractionDigits]="5"
                                            [suffix]="'€'"
                                            [showButtons]="true"
                                            [listaErrori]="listaErrori"
                                            [parent]="'dettagli'"
                                            [index]="rowIndex"
                                            [(ngModel)]="dettaglio.prezzo" />
                                    </td>
                                    <td>
                                        <form-input-select
                                            vendita-dettaglio-stato-stampa-lookup
                                            property="stato_stampa"
                                            [filter]="false"
                                            [showClear]="false"
                                            [listaErrori]="listaErrori"
                                            [parent]="'dettagli'"
                                            [index]="rowIndex"
                                            [(ngModel)]="dettaglio.stato_stampa">
                                            <ng-template #selectedItem let-item>
                                                <vendita-dettaglio-stato class="w-full" [stato_stampa]="dettaglio?.stato_stampa" [isInSelect]="true" />
                                              </ng-template>
                                              <ng-template #item let-item>
                                                <vendita-dettaglio-stato class="w-full" [stato_stampa]="item.id" [isInSelect]="true" />
                                              </ng-template>
                                        </form-input-select>
                                    </td>
                                    <td>
                                        <p-button 
                                            icon="pi pi-trash" 
                                            severity="danger" 
                                            size="small"
                                            pTooltip="Elimina dettaglio"
                                            tooltipPosition="top" 
                                            (click)="confirmDeleteDettaglio($event, dettaglio, rowIndex)"
                                        />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </ng-template>
    </p-card>

    <!-- Confirm Popup for Delete -->
    <p-confirmPopup></p-confirmPopup>
</div>
